Magic 271485
Revision Verdi_P-2019.06

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 27 1199 801 270 139

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/rain/IC_contest/2022_grad_cell_B/JAM.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 53209444.857177 53239131.170989
cursor 53220500.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 42

; Run Time Signal and Member
; userBusMem member ...
; saveRunSig name
activeDirFile "" "/home/rain/IC_contest/2022_grad_cell_B/JAM.fsdb"
userBusMem /testfixture/u_JAM/job_list_r_lr_l[6]
userBusMem /testfixture/u_JAM/job_list_r_lr_l[5]
userBusMem /testfixture/u_JAM/job_list_r_lr_l[4]
userBusMem /testfixture/u_JAM/job_list_r_lr_l[3]
userBusMem /testfixture/u_JAM/job_list_r_lr_l[2]
userBusMem /testfixture/u_JAM/job_list_r_lr_l[1]
userBusMem /testfixture/u_JAM/job_list_r_lr_l[0]
saveRunSig "job_list_r_lr_l[6:0]"

; Run Time Signal and Member
; userBusMem member ...
; saveRunSig name
userBusMem /testfixture/u_JAM/job_list_r_lr_l[6]
userBusMem /testfixture/u_JAM/job_list_r_lr_l[5]
userBusMem /testfixture/u_JAM/job_list_r_lr_l[4]
userBusMem /testfixture/u_JAM/job_list_r_lr_l[3]
userBusMem /testfixture/u_JAM/job_list_r_lr_l[2]
userBusMem /testfixture/u_JAM/job_list_r_lr_l[1]
userBusMem /testfixture/u_JAM/job_list_r_lr_l[0]
saveRunSig "job_list_r_lr_l[6:0]"

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByValue


addGroup "G1"
addSubGroup "IO"
activeDirFile "" "/home/rain/IC_contest/2022_grad_cell_B/JAM.fsdb"
addSignal -h 15 /testfixture/u_JAM/CLK
addSignal -h 15 -holdScope RST
addSignal -h 15 -UNSIGNED -UDEC -holdScope Cost[6:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope W[2:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope J[2:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope MatchCount[3:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope MinCost[9:0]
addSignal -h 15 -holdScope Valid
endSubGroup "IO"
addSubGroup "FSM"
addSignal -h 15 -UNSIGNED -UDEC /testfixture/u_JAM/curr_state[2:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope next_state[2:0]
addSignal -h 15 -holdScope state_DICT_SORT
addSignal -h 15 -holdScope state_IDLE
addSignal -h 15 -holdScope state_OUT
addSignal -h 15 -holdScope state_RD_COST
addSignal -h 15 -holdScope rd_done
addSignal -h 15 -holdScope total_sort_done
endSubGroup "FSM"
addSubGroup "CNT"
addSignal -h 15 -UNSIGNED -UDEC /testfixture/u_JAM/match_cnt[3:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope match_cnt_update[3:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope total_sort_cnt[15:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope total_sort_cnt_down[15:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope worker_cnt[2:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope worker_cnt_up[2:0]
endSubGroup "CNT"
addSubGroup "COST"
addSignal -h 15 -UNSIGNED -UDEC /testfixture/u_JAM/min_cost[9:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope min_cost_temp[9:0]
addSignal -h 15 -holdScope min_cost_temp_eq_cur
addSignal -h 15 -holdScope min_cost_temp_or_cur
addSignal -h 15 -UNSIGNED -UDEC -holdScope min_cost_update[9:0]
addSignal -h 15 -holdScope min_job_list_lr_ref_pt[0:7]
addSignal -h 15 -holdScope min_job_list_minus_ref[0:7]
endSubGroup "COST"
addSubGroup "OTHER"
addSignal -h 15 -UNSIGNED -UDEC /testfixture/u_JAM/after_flip_job_list[0:7]
addSignal -h 15 -UNSIGNED -UDEC -holdScope before_flip_job_list[0:7]
addSignal -h 15 -UNSIGNED -UDEC -holdScope job_list[0:7]
addSignal -h 15 -2COMP -UDEC -holdScope job_list_minus_ref[0:7]
addSignal -h 15 -UNSIGNED -BIN -holdScope job_list_r_lr_l[6:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope min_lr_ref_pt[2:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope ref_pt[2:0]
endSubGroup "OTHER"
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/rain/IC_contest/2022_grad_cell_B/JAM.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/testfixture"

SCOPE_LIST_BEGIN
"/testfixture"
"/testfixture/u_JAM"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END



FILTER_SIGNAL_BEGIN

"*"

FILTER_STRING_LIST_BEGIN
"115"
"3"
"4"
"5"
"6"
FILTER_STRING_LIST_END

FILTER_TYPE_LIST_BEGIN
"All"
"Input"
"Output"
"Inout"
"Net"
"Register"
"Buffer"
"Linkage"
"ClassTransaction"
"Property"
"Others"
FILTER_TYPE_LIST_END

FILTER_MATCH_CASE
FILTER_SIGNAL_END
